.topnav {
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Add an active class to highlight the current page */
.topnav a:hover{
    color: chocolate;
    transition: 3s;
}

@media screen  and (max-width: 650px) {
    body {
        max-width: 400px;

    }
    .indent {
        font-size: 15px;
        margin-left: 50px;
        margin-right: 50px;
        line-height: 150%;
        line-break: anywhere;
    }
    .title.space{
        font-size: 30px;
        padding-right: 100px;
        margin-right: 100px;
    }
    .logo {
        font-size: 16px;
        margin-left: 0px;
        padding-left: 0%;
        margin-top: 6px;
    }
    #contact p {
        font-size: 16px;
    }
    .pra p {
        font-size: 15px;
        text-indent: 20%;
        line-break: anywhere;
        line-height: 150%;
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 40px;
        margin-top: 0px;
        width: 130%;
        font-family: 'Times New Roman', Times, serif;
    }
    .subheading H4{
        margin-bottom: 50px;
    }
}

@media  screen and (min-width: 650px) and (max-width: 1024px){
    .indent {
        margin-right: 200px;
        margin-left: 100px;
        width: 100%;
    }
    .space {
        width: 100%;
        position: static;
    }
}
.footer {
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.name, .icons{
    margin-bottom: 30px;
    margin-top: 15px;
}
.icons a{
    font-size: 40px;
    text-decoration: none;
    color: chocolate;
}